<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/Waru_jo.png" alt="jo profile" />
<p>
  I am is a prolific winger who has made a name for himself in the world
  of football with his electrifying pace, sharp dribbling skills, and remarkable
  vision on the field. Known for his ability to outmaneuver defenders, he
  consistently creates goal-scoring opportunities for his team. His trademark
  runs down the flanks, coupled with precise crossing and pinpoint passing, make
  him a constant threat in the attacking third. What sets [Your Name] apart from
  other wingers is his intelligence in positioning and decision-making. He has
  an innate sense of when to cut inside to take a shot or provide a deadly
  assist. Defenders are often left scrambling to keep up with his quick changes
  of direction and bursts of speed, making him one of the most feared players on
  the wing. His versatility allows him to adapt to different styles of play,
  whether it's breaking down a compact defense with intricate passes or
  exploiting space with his blistering pace. Off the ball, his work ethic and
  defensive contributions show his commitment to the team. [Your Name]'s
  consistent performances and game-changing moments have earned him a reputation
  as one of the best wingers in football today, a true asset to any squad..
</p>
<%- include("partials/footer.ejs") %>
